/* Empty. Add your own CSS if you like */
body, h1 {
    font-family: Nunito!important;
}

ion-header-bar {
    border-color: #d2d2d2!important;
    background: #d2d2d2 linear-gradient(0deg, #d2d2d2, #d2d2d2 50%, transparent 50%)!important;
}

.main .scroll {
    transform: none!important;
}

.scroll {
    height: 98%!important;
    padding-left: 5px;
}

ion-pane {
    background-color: transparent!important;
}

canvas {
    width: 100%;
    height: 100%;
}

.buttons-bar {
    position: absolute;
    right: 0;
}

.title {
    left: 0!important;
    text-align: left!important;
}

.color-circle {
    width: 54px;
    height: 54px;
    float: left;
    border-radius: 50%;
    margin: 8px;
    border: 1px solid lightgray;
}

.color-popover {
    background-color: whitesmoke!important;
    height: 345px!important;
}

.color-popover .popover-arrow:after {
    background-color: whitesmoke!important;
}

.color-popover p {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: #8a8a8a;
    margin-bottom: 15px;
}

.pencil-popover .item {
    border-color: transparent;
}

.pencil-popover .row {
    padding: 5px 20px 0;
}

.pencil-popover .row p {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #8a8a8a;
}

.pencil-popover {
    height: 320px;
}

.popover-title {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #8a8a8a;
    text-align: center;
    margin-bottom: 15px;
}

.line-divider {
    width: 100%;
    height: 1px;
    background: rgba(138, 138, 138, 0.2);
    margin-bottom: 10px;
}

.pencil-popover .button {
    min-height: 40px;
    line-height: 35px;
    position: absolute;
    left: 50%;
    margin-left: -46px;
    margin-bottom: 3px;
}

.sample-pencil-container {
    width: 330px;
    height: 100px;
    border: 2px inset;
    margin: 10px;
    border-radius: 3px;
}

.selected-color {
    border: 5px solid lime!important;
}

.image-container {
    width: 159px;
    height: 80px;
    border: 1px solid lightgray;
    margin: 5px;
    float: left;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position-x: 50%!important;
    background-position-y: 50%!important;
}

.images-popover p {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: #8a8a8a;
    margin-bottom: 15px;
}

.divider {
    font-size: 21px;
    position: relative;
    top: 6px;
    color: rgba(165, 165, 165, 0.3);
}

.color-sample-circle {
    position: absolute;
    top: 7px;
    left: 50%;
    margin-left: -23px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid black;
}
.bar-positive .button, .bar-positive .button:hover, .bar.bar-positive .title {
    color: dimgrey;
}

@media only screen and (max-height: 700px) {
    .color-popover {
        height: 300px!important;
    }
    .pencil-popover {
        height: 300px;
    }
    .sample-pencil-container {
        width: 192px;
        height: 70px;
    }
    .pencil-popover .row p {
        font-size: 14px;
    }
}